
<h1 align="center">Workers Data</h1>
<br/>
<div align="center" class="container">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">WorkerId</th>
                <th class="bg-info text-white">WorkerName</th>
                <th class="bg-info text-white">EmailId</th>
                <th class="bg-info text-white">PhoneNumber</th>
                <th class="bg-info text-white">Pincode</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let worker of workers" align="center">
                <td>{{ worker.workerId}}</td>
                <td>{{ worker.workerName }}</td>
                <td>{{ worker.emailId }}</td>
                <td>{{ worker.phoneNumber }}</td>
                 <td>{{ worker.pincode }}</td>
            </tr>
        </tbody>
    </table>
</div>