<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FF6961;">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="navbar-brand">
      <img class="w-8" routerLink="/" src="https://static.vecteezy.com/system/resources/previews/004/942/068/original/hch-initial-logo-for-cool-and-modern-real-estate-companies-free-vector.jpg" alt="HOMECRAFTHUB">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li >
        <div>
          <button  mat-button [matMenuTriggerFor]="productsMenu">Products</button>
          <mat-menu #productsMenu="matMenu">
              <button mat-menu-item (click)="navigateToconstruction()">Construction</button>
              <button mat-menu-item (click)="navigateToelectrical()">Electrical</button>
              <button mat-menu-item (click)="navigateTofixtures()">Fixtures</button>

          </mat-menu>
      </div>
      </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="workers">Workers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutus">About Us</a>
        </li>
      </ul>
      </ul>
      <ul class="navbar-nav mx-auto">
        <div>
          <button *ngIf="!loginStatus" mat-button [matMenuTriggerFor]="loginMenu">Login</button>
          <mat-menu #loginMenu="matMenu">
            <button mat-menu-item (click)="navigateTocustomerLogin()">Customer</button>
            <button mat-menu-item (click)="navigateTotrainerLogin()">Worker</button>
          </mat-menu>
        </div>
        <li class="nav-item">
          <a *ngIf="loginStatus" class="nav-link" routerLink="logout"><b class="logout">Logout</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart">Cart({{cartItems.length}})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>