<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
   
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f4f4f4;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .error-message {
      color: red;
      font-size: 12px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    button {
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
  </style>
</head>
<body>

  <form #workerForm="ngForm" (ngSubmit)="getOtp()"   #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter emailId" name="emailId" [(ngModel)]="formModel.emailId" required />
      
        <span class="error-message">Please enter a valid email address</span>
      </div>
    <button type="submit">Get otp</button>
<div class="form-group">
      <input type="text" class="form-control" placeholder="Enter otp" name="otp2" #otp2="ngModel" ngModel required />
      
        <span class="error-message">Please enter a valid OTP</span>
      </div>
    <button type="submit">Verify OTP</button>
  </form>

</body>
</html>

