<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <style>
        .container {
            width: 400px;
            margin: 0 auto;
        }

        .input-box {
            margin-bottom: 5px;
        }

        .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <section class="container">
        <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" novalidate>
            <header class="form-header">
                <h2>Create an Account(worker)</h2>
              </header>
            <div class="input-box">
                <input type="text" name="workerName" ngModel required minlength="2" maxlength="30"
                    placeholder="Full Name" />
                <div *ngIf="regForm.controls['workerName'].errors?.['required'] && regForm.controls['workerName'].touched"
                    class="error-message">Please Enter Full Name</div>
                <div *ngIf="regForm.controls['workerName'].errors?.['minlength'] && regForm.controls['workerName'].touched"
                    class="error-message">Full Name should be at least 2 characters</div>
            </div>

            <div class="input-box">
                <input type="email" name="emailId" ngModel required placeholder="Email Address" />
                <div *ngIf="regForm.controls['emailId'].errors?.['required'] && regForm.controls['emailId'].touched"
                    class="error-message">Please Enter Email Address</div>
            </div>

            <div class="input-box">
                <input type="password" name="password" #password="ngModel" ngModel required minlength="8" maxlength="15"
                    pattern="^(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.[!@#$%^&()_+])[0-9a-zA-Z!@#$%^&()_+]{8,15}$"
                    placeholder="Password" />
                <div *ngIf="password.errors?.['required'] && password.touched" class="error-message">Please Enter
                    Password</div>
                <div *ngIf="password.errors?.['minlength'] && password.touched" class="error-message">Please Enter At
                    least 8 Characters for Password</div>
                <div *ngIf="password.errors?.['pattern'] && password.touched" class="error-message">Password must
                    contain at least one uppercase letter, one lowercase letter, one digit, and one special symbol</div>
            </div>

            <div class="input-box">
                <input type="password" name="confirmPassword" ngModel required minlength="8" maxlength="15"
                    placeholder="Confirm Password" />
                <div *ngIf="regForm.controls['confirmPassword'].errors?.['required'] && regForm.controls['confirmPassword'].touched"
                    class="error-message">Please confirm your password.</div>
                <div *ngIf="regForm.controls['password'].value !== regForm.controls['confirmPassword'].value && regForm.controls['confirmPassword'].touched"
                    class="error-message">Passwords do not match.</div>
            </div>

            <div class="input-box">
                <input type="tel" name="phoneNumber" ngModel required pattern="^[6-9]\d{9}$" minlength="10"
                    maxlength="10" placeholder="Phone Number" />
                <div *ngIf="regForm.controls['phoneNumber'].errors?.['required'] && regForm.controls['phoneNumber'].touched"
                    class="error-message">Please Enter Phone Number</div>
                <div *ngIf="regForm.controls['phoneNumber'].errors?.['pattern'] && regForm.controls['phoneNumber'].touched"
                    class="error-message">Please Enter a Valid Phone Number</div>
            </div>

            <div class="input-box">
                <input type="date" id="doj" name="doj" ngModel required placeholder="Date of Joining">
                <div *ngIf="regForm.controls['doj'].errors?.['required'] && regForm.controls['doj'].touched"
                    class="error-message">Please Enter Date of Joining</div>
            </div>

            <div class="input-box">
                <input type="text" id="department" name="department" ngModel required minlength="2"
                    placeholder="Department">
                <div *ngIf="regForm.controls['department'].errors?.['required'] && regForm.controls['department'].touched"
                    class="error-message">Please Enter Department</div>
                <div *ngIf="regForm.controls['department'].errors?.['minlength'] && regForm.controls['department'].touched"
                    class="error-message">Department should be at least 2 characters</div>
            </div>

            <div class="input-box">
                <input type="text" name="pincode" ngModel required pattern="^\d{6}$" placeholder="Pincode" />
                <div *ngIf="regForm.controls['pincode'].errors?.['required'] && regForm.controls['pincode'].touched"
                    class="error-message">Please enter a pincode</div>
                <div *ngIf="regForm.controls['pincode'].errors?.['pattern'] && regForm.controls['pincode'].touched"
                    class="error-message">Please enter a valid pincode (6 digits)</div>
            </div>

            <button type="submit" [disabled]="!regForm.valid">Submit</button>
        </form>
    </section>

    <!-- Your Angular scripts should be included here -->
</body>

</html>