<p>forgotpassword works!</p>
<form #regForm="ngForm" (ngSubmit)="passwordChanged(regForm.value)" novalidate>
<div>
    <label>Email ID:</label>
    <input type="text" name="emailId" [value]="emailId"  [(ngModel)]="emailId" readonly/>
</div>
<div>
    <label>Password:</label>
    <input type="password" name="password" #password="ngModel" ngModel required minlength="2" maxlength="15" />
</div>
<button type="submit">Submit</button>
</form>
