<div align="center">
    <form #workerForm="ngForm" (ngSubmit)="getWorkers()">
      <table>
        <tr>
          <td align="right">Enter Pincode</td>
          <td align="left"><input type="text" name="pincode" [(ngModel)]="formModel.pincode" /></td>
        </tr>
        <tr>
          <td></td>
          <td align="left"><button type="submit">Get Workers</button></td>
        </tr>
      </table>
    </form>
  </div>
  
  <br/>
  
  <div *ngIf="workers && workers.length > 0; else notfound" align="center" class="container">
    <table class="table table-hover table-striped table-sm table-bordered">
      <thead>
        <tr align="center">
          <th class="bg-info text-white">Worker Name</th>
          <th class="bg-info text-white">Email Id</th>
          <th class="bg-info text-white">Phone Number</th>
          <th class="bg-info text-white">Pincode</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let worker of workers" align="center">
          <td>{{ worker.customerName }}</td>
          <td>{{ worker.emailId }}</td>
          <td>{{ worker.phoneNumber }}</td>
          <td>{{ worker.pincode }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div>
    <ng-template #notfound>
      <h4 align="center">Workers record not found</h4>
    </ng-template>
  </div>