/* Style for the carousel */
#myCarousel {
    margin-top: 20px;
    margin-bottom: 30px; /* Adjust this value as needed */
  }

  /* Custom styles for centering and styling carousel controls with arrow icons */
#myCarousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; /* Set the width of the buttons */
  height: 30px; /* Set the height of the buttons */
  font-size: 14px; /* Set the font size of the buttons */
  background: #000; /* Set the background color of the buttons */
  border: none; /* Remove the border */
  border-radius: 5px;
  cursor: pointer;
  color: #fff; /* Set the text color of the buttons */
}