
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn-media.buildersmart.in/media/bannerslider/bannerslider/Check_Price......jpg"
          class="d-block w-100" alt="First Slide">
      </div>
      <div class="carousel-item">
        <img src="https://cdn-media.buildersmart.in/media/bannerslider/bannerslider/Discover_Guranteed_web...jpg"
          class="d-block w-100" alt="Second Slide">
      </div>
      <div class="carousel-item">
        <img src="https://cdn-media.buildersmart.in/media/bannerslider/bannerslider/Buy_Online_Save_Money_..jpg"
          class="d-block w-100" alt="Third Slide">
      </div>
      <div class="carousel-item">
        <img src="https://cdn-media.buildersmart.in/media/bannerslider/bannerslider/Discover_Guranteed_web...jpg"
          class="d-block w-100" alt="Fourth Slide">
      </div>
    </div>
  </div>

  <h1 align="center">Our Products</h1> <br/>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="card mb-4">
        <img src="{{ product.imageUrl }}" class="card-img-top" alt="{{ product.name }}" style="height: 110px;padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: ₹{{ product.price }}</p>
          <p align="right"><button class="btn btn-primary">AddToCart</button> </p>
        </div>
      </div>
    </div>
  </div>
</div>